*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    max-width: 425px;
}

header{
    display: flex;
    justify-content: ;
    width: 100%;
    height: 200px;
    background-color: black;
}

header img{
    width: 100px;
}
main {
    pedro add 
}