*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    max-width: 425px;
    font-family: 'roboto', sans-serif;
}


header{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    width: 100%;
    height: 50px;
    background-color: rgb(151, 29, 151);
    padding: 0 20px;
}

header a{
    color: black;
}

header img{
    width: 50px;
}

.container-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url("../img/bannergames.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

h1{
    text-align: center;
    background-color:  rgb(151, 29, 151);;
    color: black;
    border-top:2px solid black;
}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    top: 400px;
    width: 50%;
    left: 100px;
}

#start{
    color: red;
    background-color: rgba(0, 0, 0, 0);
    border-top: 0;
    width: 300px;
    text-align: left;
    font-size: 25px;

}

.start p{
    color: white;
    position: absolute;
    width: 200px;
    top: 40px;
    left: 0px;
}

main {
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    margin-bottom: 10px;
    background-image: url("../img/bannergames.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}


.cards{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 410px;
    border: 1px solid whitesmoke;
    margin-top: 20px;
    background-color: rgb(66, 2, 66);
    border-radius: 10px;
    box-shadow: 10px 10px 10px purple;
}

h2 {
    text-align: center;
    padding-top:20px;
}

.card-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 190px;
    color: Pink;
}

.card-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 280px;
    height: 180px;
    text-align: left;
    margin-top: 10px;
    padding: 10px 0px;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    color: white;
    border-radius: 10px;
}

button{
display: flex;
position: relative;
flex-wrap: wrap;
justify-content: center;
width: 200px;
height: 20px;
top: -30px;
border-radius: 10px;
opacity: 0.5;
background-color: black;
color: white;
cursor: pointer;
}

button a{
    text-align: center;
    text-decoration: none;
    color: white;
}

.cards img{
    display: flex;
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

footer{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color:  rgb(151, 29, 151);
    padding: 0 20px;
    gap: 10px;
}



footer img{
    width: 15px;
}
